<a href="https://colab.research.google.com/github/Srinivasan260/decision-making/blob/main/decison.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = pd.read_csv('decision.csv')

data.head()

   s.no company                job     degree  salary greater than 100k
0     1  google     sales exective  bachelors                         0
1     2  google     sales exective    masters                         0
2     3  google     sales exective    masters                         0
3     4  google  business Managaer  bachelors                         1
4     5  google  business Managaer    masters                         1

In [2]:
inputs = data.drop('salary greater than 100k',axis='columns')
target=data['salary greater than 100k']

In [3]:
target

0     0
1     0
2     0
3     1
4     1
5     1
6     0
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    0
17    1
18    0
19    0
20    0
Name: salary greater than 100k, dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder
le_company=LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()

In [5]:
inputs['company_n']=le_company.fit_transform(inputs['company'])
inputs['job_n']=le_job.fit_transform(inputs['job'])
inputs['degree_n']=le_degree.fit_transform(inputs['degree'])

In [6]:
inputs

    s.no   company                  job     degree  company_n  job_n  degree_n
0      1    google       sales exective  bachelors          2      2         0
1      2    google       sales exective    masters          2      2         1
2      3    google       sales exective    masters          2      2         1
3      4    google    business Managaer  bachelors          2      0         0
4      5    google    business Managaer    masters          2      0         1
5      6    google    business Managaer    masters          2      0         1
6      7    google  computer programmer  bachelors          2      1         0
7      8    google  computer programmer    masters          2      1         1
8      9  facebook       sales exective  bachelors          1      2         0
9     10  facebook       sales exective    masters          1      2         1
10    11  facebook       sales exective    masters          1      2         1
11    12  facebook    business Managaer  bachelors          1      0         0
12    13  facebook    business Managaer  bachelors          1      0         0
13    14  facebook    business Managaer    masters          1      0         1
14    15  facebook  computer programmer  bachelors          1      1         0
15    16  facebook  computer programmer    masters          1      1         1
16    17     amzon       sales exective  bachelors          0      2         0
17    18     amzon    business Managaer    masters          0      0         1
18    19     amzon  computer programmer    masters          0      1         1
19    20     amzon  computer programmer    masters          0      1         1
20    21     amzon    business Managaer  bachelors          0      0         0

In [7]:
datas=inputs.drop(['company','job','degree'],axis='columns')

In [8]:
datas

    s.no  company_n  job_n  degree_n
0      1          2      2         0
1      2          2      2         1
2      3          2      2         1
3      4          2      0         0
4      5          2      0         1
5      6          2      0         1
6      7          2      1         0
7      8          2      1         1
8      9          1      2         0
9     10          1      2         1
10    11          1      2         1
11    12          1      0         0
12    13          1      0         0
13    14          1      0         1
14    15          1      1         0
15    16          1      1         1
16    17          0      2         0
17    18          0      0         1
18    19          0      1         1
19    20          0      1         1
20    21          0      0         0

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(datas[['company_n','job_n','degree_n']],target,test_size=0.2)

In [11]:
len(X_train)

16

In [12]:
len(y_train)

16

In [13]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [14]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [15]:
model.score(X_test,y_test)

0.8

In [16]:
X_test

    company_n  job_n  degree_n
19          0      1         1
10          1      2         1
16          0      2         0
12          1      0         0
8           1      2         0

In [17]:
y_pred=model.predict(X_test)

In [18]:
y_pred

array([0, 1, 1, 1, 1])

In [19]:
df=pd.read_csv('decision2.csv')

In [20]:
df

    s.no   company                  job     degree  salary > 100k
0      1    google       sales exective  bachelors            NaN
1      2    google       sales exective    masters            NaN
2      3    google       sales exective    masters            NaN
3      4    google    business Managaer  bachelors            NaN
4      5    google    business Managaer    masters            NaN
5      6    google    business Managaer    masters            NaN
6      7    google  computer programmer  bachelors            NaN
7      8    google  computer programmer    masters            NaN
8      9  facebook       sales exective  bachelors            NaN
9     10  facebook       sales exective    masters            NaN
10    11  facebook       sales exective    masters            NaN
11    12  facebook    business Managaer  bachelors            NaN
12    13  facebook    business Managaer  bachelors            NaN
13    14  facebook    business Managaer    masters            NaN
14    15  facebook  computer programmer  bachelors            NaN
15    16  facebook  computer programmer    masters            NaN
16    17     amzon       sales exective  bachelors            NaN
17    18     amzon    business Managaer    masters            NaN
18    19     amzon  computer programmer    masters            NaN
19    20     amzon  computer programmer    masters            NaN
20    21     amzon    business Managaer  bachelors            NaN

In [21]:
df

    s.no   company                  job     degree  salary > 100k
0      1    google       sales exective  bachelors            NaN
1      2    google       sales exective    masters            NaN
2      3    google       sales exective    masters            NaN
3      4    google    business Managaer  bachelors            NaN
4      5    google    business Managaer    masters            NaN
5      6    google    business Managaer    masters            NaN
6      7    google  computer programmer  bachelors            NaN
7      8    google  computer programmer    masters            NaN
8      9  facebook       sales exective  bachelors            NaN
9     10  facebook       sales exective    masters            NaN
10    11  facebook       sales exective    masters            NaN
11    12  facebook    business Managaer  bachelors            NaN
12    13  facebook    business Managaer  bachelors            NaN
13    14  facebook    business Managaer    masters            NaN
14    15  facebook  computer programmer  bachelors            NaN
15    16  facebook  computer programmer    masters            NaN
16    17     amzon       sales exective  bachelors            NaN
17    18     amzon    business Managaer    masters            NaN
18    19     amzon  computer programmer    masters            NaN
19    20     amzon  computer programmer    masters            NaN
20    21     amzon    business Managaer  bachelors            NaN

In [22]:
from sklearn.preprocessing import LabelEncoder
len_company=LabelEncoder()
len_job=LabelEncoder()
len_degree=LabelEncoder()

In [23]:
inputs['company_n']=le_company.fit_transform(inputs['company'])
inputs['job_n']=le_job.fit_transform(inputs['job'])
inputs['degree_n']=le_degree.fit_transform(inputs['degree'])

In [24]:
inputs

    s.no   company                  job     degree  company_n  job_n  degree_n
0      1    google       sales exective  bachelors          2      2         0
1      2    google       sales exective    masters          2      2         1
2      3    google       sales exective    masters          2      2         1
3      4    google    business Managaer  bachelors          2      0         0
4      5    google    business Managaer    masters          2      0         1
5      6    google    business Managaer    masters          2      0         1
6      7    google  computer programmer  bachelors          2      1         0
7      8    google  computer programmer    masters          2      1         1
8      9  facebook       sales exective  bachelors          1      2         0
9     10  facebook       sales exective    masters          1      2         1
10    11  facebook       sales exective    masters          1      2         1
11    12  facebook    business Managaer  bachelors          1      0         0
12    13  facebook    business Managaer  bachelors          1      0         0
13    14  facebook    business Managaer    masters          1      0         1
14    15  facebook  computer programmer  bachelors          1      1         0
15    16  facebook  computer programmer    masters          1      1         1
16    17     amzon       sales exective  bachelors          0      2         0
17    18     amzon    business Managaer    masters          0      0         1
18    19     amzon  computer programmer    masters          0      1         1
19    20     amzon  computer programmer    masters          0      1         1
20    21     amzon    business Managaer  bachelors          0      0         0

In [25]:
data=inputs.drop(['company','job','degree','s.no'],axis='columns')

In [26]:
data

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      2         1
3           2      0         0
4           2      0         1
5           2      0         1
6           2      1         0
7           2      1         1
8           1      2         0
9           1      2         1
10          1      2         1
11          1      0         0
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1
16          0      2         0
17          0      0         1
18          0      1         1
19          0      1         1
20          0      0         0

In [28]:
X_test=data

y2_pred=model.predict(X_test)

In [29]:
print(y2_pred)

[0 0 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 0 0]

In [30]:
df['predicted_salary>100k']=y2_pred
df

,s.no,company,job,degree,salary > 100k,predicted_salary>100k
0,1,google,sales exective,bachelors,NaN,0
1,2,google,sales exective,masters,NaN,0
2,3,google,sales exective,masters,NaN,0
3,4,google,business Managaer,bachelors,NaN,1
4,5,google,business Managaer,masters,NaN,1
5,6,google,business Managaer,masters,NaN,1
6,7,google,computer programmer,bachelors,NaN,0
7,8,google,computer programmer,masters,NaN,1
8,9,facebook,sales exective,bachelors,NaN,1
9,10,facebook,sales exective,masters,NaN,1
10,11,facebook,sales exective,masters,NaN,1
11,12,facebook,business Managaer,bachelors,NaN,1
12,13,facebook,business Managaer,bachelors,NaN,1
13,14,facebook,business Managaer,masters,NaN,1
14,15,facebook,computer programmer,bachelors,NaN,1
15,16,facebook,computer programmer,masters,NaN,1
16,17,amzon,sales exective,bachelors,NaN,1
17,18,amzon,business Managaer,masters,NaN,1
18,19,amzon,computer programmer,masters,NaN,0
19,20,amzon,computer programmer,masters,NaN,0
20,21,amzon,business Managaer,bachelors,NaN,0